{% extends 'store/base.html' %}
{% load static %}
{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5"  background-image='https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-cosmetics-promotion-background-material-image_139264.jpg'>
	
    <h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="accounts/login">login</a> instead.</p>
</div>

{% endblock %}